.venv/
venv/
__pycache__/
*.py[cod]

.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
.env.*
!.env.example

.vscode/
.idea/

/data/
/datasets/
checkpoints/
outputs/
runs/

*.pt
!artifacts/star_detector_resnet50_fpn_v1/weights/best_model_inference_fp16.pt
*.pth
*.ckpt

.ipynb_checkpoints/
